// Colors - variables
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
$color-grey-500: hsl(234, 12%, 34%);
$color-grey-400: hsl(212, 6%, 44%);
$color-dim-white: #FAFAFA;

// Typography - variables
$font-family: 'Poppins', sans-serif;
$font-size-s: .8125rem;
$font-size-m: .9375rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2.25rem;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-line-height-s: 1.34;
$font-line-height-m: 1.4;
$font-line-height-l: 1.6;

// Spacing - variables
$spacing-xs: .375rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 3.75rem;
$spacing-xxxl: 5rem;

//Sizes - variables
$card-min-block-size: 15.625rem;
